.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background-color: rosybrown;
    

   

    &__button {
        margin: 0 auto;
        width: 20%;
        height: 30%;
        background-color: rgb(235, 135, 135);
        
    }
}