.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #1B1A1D;

  &__bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    letter-spacing: 5px;
    font-family: Marker Felt, fantasy;
    font-weight: 900;
    font-size: xx-large;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #CCAB7C;
    &:hover{
      color: #1B1A1D;
      background-color: #CCAB7C;
      
    }
  }

  

  &__kitchen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    letter-spacing: 5px;
    font-family: Marker Felt, fantasy;
    font-size: xx-large;
    font-weight: 900;
    transition: all 0.2s ease;
    text-decoration: none;
    color: #CCAB7C;
    &:hover{
      color: #1B1A1D;
      background-color: #CCAB7C;
    }
  }
}