@import '../config/variables.scss';

@mixin home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  letter-spacing: 5px;
  font-family: $fantasy;
  font-weight: $bold;
  font-size: xx-large;
  transition: all 0.2s ease;
  text-decoration: none;
  color: $bodily;
}

@mixin colorHover {
  color: $black;
  background-color: $bodily;
}

@mixin search {
  border: none;
  border-radius: 12.5px;
  background-color: $black;
}

@mixin titleCard {
  font-weight: $normal;
  font-size: x-large;
  letter-spacing: 2px;
  font-family: $impact;  
}

@mixin description {
  font-family: $mono;
  font-weight: $regular;
  font-size: medium;
  color: $bodily; 
}

@mixin ingredient {
  font-family: $monospace;
  font-weight: $normal;
  font-size: medium;
}

@mixin name {
  font-family: $fantasy;
  font-weight: $normal;
  font-size: $big;
}

@mixin field {
  margin: 2rem 0;
  border: hidden;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $bodily;
  background: $black;
  color: $bodily;
  &:focus-visible {
    outline: none;
  }

  ::placeholder {
    padding-left: 0;
  }
}

@mixin step {
  font-family: $mono;
  font-weight: $normal;
  font-size: $medium;
}

@mixin button { 
  border: 1px solid $bodily;
  border-radius: 12.5px;
  background-color: $black;
  color: $bodily;
}

@mixin label {
  font-family: $fantasy;
  font-weight: $regular;
  font-size: $medium;
}

@mixin counter {
  border: 1px solid $bodily;
  border-radius: 4px;
  background-color: $bodily;
  color: $black;
}

