//color
$black: #1B1A1D;
$bodily: #CCAB7C;

//font
$fantasy: 'fantasy';
$regular: 400;
$normal: 700;
$bold: 900;

$big: calc(10px + 0.5vw);
$medium: calc(8px + 0.5vw);
$small: calc(3px + 0.5vw);

//mobile
$mobile: 768px;